<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Signup</title>
    <link href="/static/accounts/signup.css" rel="stylesheet" />
    <!-- Include Bootstrap CSS from CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Signup</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-custom">Signup</button>
      </form>
    </div>
  </body>
</html>
