body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1B9CE4 !important;
}
.form-container {
    width: 450px;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    height: 840px;
    font-family: 'Architects Daughter', cursive;
}
input, textarea, select {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #64EBB6;
    border-radius: 8px;
    box-sizing: border-box;
    height: 70px;
}
.form-control:focus {
    border-color: #68b2a0;
    box-shadow: none;
}
button[type=submit] {
    background-color: #64EBB6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}
button[type=submit]:hover {
    background-color: #569f89;
}