@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joti+One&display=swap');
body {
    background-color: #1B9CE4 !important; /* Sets the background color for the page */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;/* Ensures space at the beginning and end of the navbar */
    margin-left: 1050px;
}
.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    padding: 0 10px; /* Adjust spacing between navbar items */
}

.navbar-links li a {
    color: black; /* Text color */
    text-decoration: none;
    padding: 14px 16px;
}

.navbar-links li a:hover {
    background-color: #64EBB6; /* Purple background on hover */
    color: black; /* Change text color on hover */
}
.navbar-nav li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0;
    font-size: 25px; /* Adjusted font size to match the PortFolio title */
}
.logo img{
    width: 130px;
    height: auto;
    margin-left: 180px;
    position: relative;
    top: -60px;
}
.box {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: 80px;
    margin-left: 220px;
    height: 350px;
}
.box img{
    width: 150px;
    margin-top: -30px;
    margin-left: -30px;
}
.box h4{
    margin-left: 70px;
}
.box p{
    margin-left: 55px;
}
.box:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}
.doc h1 {
    text-align: center;
    margin-top: -500px;
    font-family: 'Joti One', cursive;

}

.box1 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: 80px;
    margin-left: 600px;
    height: 350px;
}
.box1 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box1 h4{
    text-align: center;
}
.box1 p{
    text-align: center;
}
.box1:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}


.box2 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: 70px;
    margin-left: 600px;
    height: 350px;
}
.box2 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box2 h4{
    text-align: center;
}
.box2 p{
    text-align: center;
}
.box2:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}


.box3 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: -370px;
    margin-left: 220px;
    height: 350px;
}
.box3 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box3 h4{
    text-align: center;
}
.box3 p{
    text-align: center;
}
.box3:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}


.box4 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: -370px;
    margin-left: 980px;
    height: 350px;
}
.box4 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box4 h4{
   text-align: center;
}
.box4 p{
    text-align: center;
}
.box4:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}



.box5 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: -790px;
    margin-left: 980px;
    height: 350px;
}
.box5 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box5 h4{
    text-align: center;
}
.box5 p{
    
    text-align: center;
}
.box5:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}

.box6 {
    border: 4px solid  #1be4b2;; /* Change #1B9CE4 to your desired border color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; /* Adjust for desired rounded corner size */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    width: 350px;
    margin-top: -370px;
    margin-left: 1360px;
    height: 350px;
}
.box6 img{
    width: 350px;
    margin-top: -30px;
    margin-left: -30px;
}
.box6 h4{
    text-align: center;
}
.box6 p{
    margin-left: 15px;
    text-align: center;
}
.box6:hover {
    background-color: #1be4b2; /* Change #1B9CE4 to your desired hover background color */
    color: #ffffff; /* This changes the text color upon hover, adjust as needed */
}